<div class="modal-header">
  <h4 class="modal-title pull-left"> Edit Rate </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="currentRate">
  <form [formGroup]="formGroup" novalidate>
    <div class="form-group">
      <label for="rateInput">Pair: {{ currentRate.CurrencyPair }}</label>
      <input type="text" 
          class="form-control" 
          id="rateInput" 
          placeholder="Set new rate"
          formControlName="rate">
      <div *ngIf="controlIsInvalid('rate')">
        <small class="form-text text-danger" *ngIf="controlHasErrorType('rate', 'required')">
          Rate is required
        </small>
        <small class="form-text text-danger" *ngIf="controlHasErrorType('rate', 'numberOnly')">
          Rate should contain only numbers.
        </small>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" 
      class="btn btn-primary"
      [disabled]="formIsValid"
      (click)="submitForm()">
    Save
  </button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>