<div class="container">
  <h1 class="text-center">Currency Rates</h1>
  <ul class="list-group">
      <ng-template ngFor
          [ngForOf]="rates"
          let-rate>
        <li class="list-group-item">
          <rate-card [rate]="rate" (rateEdit)="editRate($event)"></rate-card>
        </li>
      </ng-template>
    </ul>
</div>


