<div class="row align-items-center">
  <span class="col">
    <small class="text-muted">Pair: </small>
    <br class="d-flex d-lg-none" />
    {{ rate.CurrencyPair }}
  </span>
  <span class="col">
    <small class="text-muted">Rate: </small>
    <br class="d-flex d-lg-none" />
    {{ rate.Rate }}
  </span>
  <span class="col-6 col-sm-4">
    <small class="text-muted">Last updated: </small>
    <br class="d-flex d-lg-none" />
    {{ rate.Date | normalizeDate: 'short' }}
  </span>
  <span class="col-12 col-sm-4 text-left text-sm-right mt-2 mt-sm-0">
    <button class="btn btn-outline-primary"
        (click)="editRate()">
      Edit Rate
    </button>
  </span>
</div>